<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X-App</title>
    <!--Enables htmx-->
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
      integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
      crossorigin="anonymous"
    ></script>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="home">
      <section class="buttons">
        <!--No features will get added here-->
      </section>

      <section class="posts">
        <div class="posts__feed">
          <h5>For you</h5>
          <h5>Following</h5>
        </div>
        <div class="posts__form">
          <form>
            <textarea
              name="content"
              class="posts__form--text"
              placeholder="What is happening?"
              row="2"
            ></textarea>
            <button
              class="posts__form--btn"
              type="sumbit"
              hx-post="/post"
              hx-target=".posts__container"
              hx-swap="afterbegin"
              hx-on::after-request="document.querySelector('form').reset();"
            >
              Post
            </button>
          </form>
        </div>

        <div class="posts__container" hx-trigger="load">
          <!--If this is showing on the page it will request more posts-->
          <!--I can't set a value of Infinity so I am using 10000000000000-->
          <div
            hx-get="/posts?cursor=10000000000000"
            hx-trigger="revealed"
            hx-swap="outerHTML"
          >
          </div>
        </div>
      </section>
      <section class="explore">
        <!--No features will get added here-->
      </section>
    </div>
  </body>
  <script src="scripts/check-if-login.js" type="module"></script>
</html>
