@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --default-font: "Funnel Sans", Arial;
  --border-color: rgb(232, 232, 232);
  --primary-color: rgb(35, 35, 35);
}

/* authentication-page */

.auth-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: var(--default-font);
  color: var(--primary-color);
}

.auth-page__form {
  display: flex;
  flex-direction: column;
  margin-right: 33.33%;
}

.auth-page__title {
  margin: 10px 0;
}

.auth-page__subtitle {
  margin: 10px 0;
}

.auth-page__buttons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  outline: none;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.auth-page__meassage {
  text-wrap: wrap;
}

.auth-page___x-symbol--container {
  display: flex;
  align-items: center;
  width: 100vw;
}

.auth-page___x-symbol {
  margin-left: 33.33%;
  font-size: 248px;
}

/* home */

.home {
  display: flex;
  width: 100%;

  font-family: var(--default-font);
  color: var(--primary-color);

  min-height: 100vh;
}

.buttons {
  flex: 1;
}

.explore {
  flex: 1;
}

.posts {
  flex: 2;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.posts__feed {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}

.posts__form, .posts__container {
  margin: 40px;
  margin-top: 10px;
}

.posts__form form {
  display: flex;
  gap: 40px;
}

.posts__form--text {
  outline: none;
  border: 1px solid var(--border-color);
  font-size: 24px;
  border-radius: 5px;
}

.posts__form--btn {
  font-size: 24px;
  padding: 0 30px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
}

.post__profile-pic {
  height: 16px;
  object-fit: contain;
}

.post {
  padding: 20px;
  border: 1px solid var(--border-color);
}

.post__buttons {
  display: flex;
  gap: 20px;
}

.post__buttons button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 3px;
}
